@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');

/*Fuentes Locales del Branding*/

@font-face {
    font-family: 'Montreux Grotesk';
    src: url('./Font/Montreux Grotesk/MontreuxG-Rg.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'Montreux Grotesk';
    src: url('./Font/Montreux Grotesk/MontreuxG-Bk.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'Montreux Grotesk';
    src: url('./Font/Montreux Grotesk/MontreuxG-DmBd.otf') format('opentype');
    font-weight: 600;
}
@font-face {
    font-family: 'Montreux Grotesk';
    src: url('./Font/Montreux Grotesk/MontreuxG-Bd.otf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'Stardos Stencil';
    src: url('./Font/Stardos_Stencil/StardosStencil-Regular.ttf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'Stardos Stencil';
    src: url('./Font/Stardos_Stencil/StardosStencil-Bold.ttf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'Stephile Script';
    src: url('./Font/stephile-font/StephileScript-BWv4l.ttf') format('opentype');
    font-weight: 700;
}

:root{
    /*Navbar and home page colors*/
    --gr:#1e1e1e;
    --bl1:#1e1e1e;
    --or:#aa272f;
    --or2:#d9ac6d;
    --wh1:#fff;
    --star:#d9ac6d;
    --grisrgb: #e0e6e6;
}   


body{
    font-family: 'Spline Sans', sans-serif;
    color: var(--gr);
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    color: var(--bl1);
}

a{
    color: var(--bl1);
    text-decoration: none;
    font-weight: 600;
    transition: transform all 1s ease-in-out;
}

a:hover{
    color: var(--or);
    transform: scale(1.025);
}

.logonav {
    width: 85px !important;
    width: 100%;
}

img{
    width: 100%;
}

section{
    padding-top: 120px;
    padding-bottom: 20px;
}

.shadow-on-hover {
    transition: all 0.3s;
}

.shadow-on-hover:hover {
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

.btn{
    border-radius: 0;
    padding: 14px 38px;
}

.btn-brand{
    background-color: var(--or);
    color: var(--wh1);
    font-weight: 500;
    border-color: var(--or);
    box-shadow: 0 1px 3px var(--or);
    transition: transform .1s ease-in-out;
}

.btn-brand:hover{
    background-color: var(--or);
    border-color: var(--or2);
    color: var(--wh1);
    box-shadow: 0 10px 40px var(--or2);
    border-radius: 10px;
    transform: scale(1.1);
}

.bg-cover {
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover !important;
}

.title-hero{
  padding: 1.5rem 0 1.5rem;
  background:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75));
  margin-top: 32rem;
}

.nav-item.active .nav-link {
    color: var(--or); /* Color de la pestaña activa */
    font-weight: bold;
    transform: scale(1.025);
  }
  
/*SliderHero*/

.slide-2{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../src/assets/About/About3.png)
  
}
.slide-3{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../src/assets/Hero/banner.png);
   
}
.slide-1{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../src/assets/About/LACapitalAbout.png);
}

.logobanner2{
    display: none;
}

/*Animacion al iniciar imagen de logobanner*/
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .logobanner1, .logobanner2 {
    animation-name: fadeIn;
    animation-duration: 3.5s;
    animation-fill-mode: both;
  }
  
  /* Asegúrate de que la animación se ejecute cada vez que el ítem del carrusel se vuelva activo */
  .carousel-item.active .logobanner1,
  .carousel-item.active .logobanner2 {
    animation-name: fadeIn;
  }
  
@media (max-width:768px){

      .logobanner1{
        display: none;
      }

      .slide-1{
        background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),url(../src/assets/Hero/banner.png);
        background-position:center;
      }
      .slide-2{
        background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),url(../src/assets/Hero/banner.png);
        background-position: right;
         
      }
      .slide-3{
        background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),url(../src/assets/Hero/banner.png);
        background-position: left;
      }

      .logobanner2{
        display: flex;
        align-items: center;
        justify-content: center;
      }


   
}

#heroSlider h6::after, #heroSlider h6::before{
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--wh1);
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.carousel-control-prev, .carousel-control-next{
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 70px;
    margin: auto;

}

.logobanner{
    max-width: 100%; 
    max-height: 100vh; 
    width: auto;
    height: auto;
}

/*about*/

#about p{
    text-align: justify;
}

#about .divider1{
    width: 27px;
    height: 3px;
    display: inline-block;
    background-color: yellow;
}
#about .divider2{
    width: 27px;
    height: 3px;
    display: block;
    background-color: blue;
}
#about .divider3{
    width: 27px;
    height: 3px;
    display: block;
    background-color: red;
}


.social-links a{
    font-size: 24px;
    margin-right: 10px;
    transition: transform 0.25s ease-in-out;
}

.social-link:hover{
    transform: scale(1.5);
}



.img_about{
    transition: transform 0.3s ease-in-out;
}

.img_about:hover{
    transform: scale(1.025);
    box-shadow: 0 10px 40px rgba(0,0,0,0.8);
}

.banner_about{
    transition: transform 0.3s ease-in-out;
    width: 100%;
    margin: 2rem 0 0;
}

.banner_about:hover{
    box-shadow: 0 10px 40px rgba(0,0,0,0.8);
    transform: scale(1.1);
}

/*Intro Text*/

.intro-text{
    margin-bottom: 40px;
    text-align: center;
}

.intro-text p{
    max-width: 500px;
    margin: 16px auto 0 auto;
}

/*menu - productos*/

#menu .nav-pills .nav-link {
    background-color: var(--wh1);
    margin-left: 8px;
    margin-right: 8px;
    color: var(--bl1);
    border-radius: 100px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

#menu .nav-pills .nav-link.active{
    background-color: var(--or);
    color: var(--wh1);
}

.menu-item {
    transition: transform 0.15s ease-in-out;
    cursor: pointer;
}

.menu-item:hover{
    transform: scale(1.033);
}
.menu-item .stars {
    color: var(--star);

}

.menu-item .small{
    text-align: justify;
}

.tagprice{
    color: var(--or);
}
/*Features*/

#features {
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../src/assets/Hero/CUADRADO@0,5x.jpg);
}


.feature{
    transition: transform 0.25s ease;
    border: 2px solid var(--wh1);
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
.feature:hover{
    transform: scale(1.025);
    box-shadow: 0 10px 40px rgba(0,0,0,5);
}

.feature h4{
    font-size: 20px;
}
.feature .feature-icon{
    width: 80px;
    height: 80px;
    background-color: var(--or);
    color: var(--wh1);
    font-size: 28px;
    display: inline-grid;
    align-items: center;
    text-align: center;
}

/*Team*/

.team-member img{
    max-width: 140px;
    box-shadow: -10px -10px 0 var(--or2);
    border-radius: 100px;
}

/*Reviews*/

#reviews{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../images/cover3.jpg);
}

.review img{
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.review .quote-icon{
    font-size: 74px;
    color: var(--or);
    line-height: 1;
}

.review .stars {
    color: var(--or);
}

#reviews .carousel-indicators{
    margin-bottom: -3rem;
}

/*reservation*/

#reservation .form-control{
    border-radius: 0;
}
#reservation .form-control:focus{
    box-shadow: none;
    border: 1px solid var(--or2);
}



#reservation input.form-control{
    height: 47px;
}

/*Instagram Posts*/

.insta-post{
    position: relative;
    overflow: hidden;
}

.insta-post  .insta-btn{
    width: 90px;
    height: 90px;
    background-color: var(--wh1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 26px;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.insta-post img{
    transition: all 0.4s;
}

.insta-post:hover img{
    transform: scale(1.2);
}

.insta-post:hover .insta-btn{
    opacity: 1;
}

/*Blog Post*/

.blog-post{
    cursor: pointer;
}
.blog-post img {
    width: 40%;
    object-fit: cover;
}

@media (max-width:768px){

    .blog-post{
        flex-direction: column;
    }

    .blog-post img{
        width: 100%;
    }
}

/*footer*/

footer{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(../src/assets/About/LaCapitalAbout2.png);
    padding-top: 100px;
    padding-bottom: 30px;
}

.footer-top{
    margin-bottom: 30px;
}

footer img{
    max-width: 150px;
}

footer p, footer  a{
    color: rgba(255,255,255,0.75);

}

footer a{
    font-size: 24px;
    margin-right: 10px;
}

footer .footer-link{
    font-size: 18px;
}

.footer-bottom{
    padding-top: 30px;
    border-top: 1px solid rgba(255,255,255,0.4);
}


/*SCROLLUP*/
.scrollup{
    position: fixed;
    right: 2.75rem;
    bottom: -20%;
    background-color: var(--or);
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    transition: .4s;
    color: var(--grisrgb);
}

.scrollup__icon{
    font-size: 1.5rem;
    color: var(--or);

}

.scrollup:hover{
    background-color: var(--or2);
    color: var(--wh1);
}


/*show scroll*/
.show-scroll{
    bottom: 8rem;
}

/*BREAK POINTS*/

/*For Large Devices*/

@media screen and (max-width: 992px) {
    .scrollup{
        right: 3rem;
        padding: 0.25rem 0.4rem;
    }

    .scrollup__icon{
        font-size: 1.25rem;
    }
  }
  /*For Medium DEvices*/
  
  @media screen and (max-width: 768px) {

    .scrollup{
        right: 1rem;
    }
    
    .scrollup__icon{
        font-size: 1rem;

    }
  }
  
  /*For Small DEvices*/
  
  @media screen and (max-width: 350px) {
    .scrollup{bottom: 8rem;
    margin-bottom: 0.5rem;}
  
  }
  