@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');

:root {
    /*Navbar and home page colors*/
    --gr: #1e1e1e;
    --bl1: #1e1e1e;
    --or: #aa272f;
    --or2: #d9ac6d;
    --wh1: #fff;
    --star: #d9ac6d;
    --grisrgb: #e0e6e6;
}


body {
    font-family: 'Spline Sans', sans-serif;
    background-color: #000;
    color: var(--wh1);
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: var(--wh1);
}



a {
    color: var(--wh1);
    text-decoration: none;
    font-weight: 600;
    transition: transform all 1s ease-in-out;
}

a:hover {
    color: var(--or);
    transform: scale(1.025);
}

/*Cambiar icono hamburguesa a blanco*/

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.logonav {
    width: 85px !important;
    width: 100%;
}

img {
    width: 100%;
}

section {
    padding-top: 120px;
    padding-bottom: 22px;
}

.shadow-on-hover {
    transition: all 0.3s;
}

.shadow-on-hover:hover {
    box-shadow: 0 2.5px 5px var(--or);
}

.btn {
    border-radius: 0;
    padding: 14px 38px;
    border: 0.5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(var(--angle), var(--or), var(--or2));
    animation: rotate 2s linear infinite;
}

.btn-brand {
    background-color: var(--or);
    color: var(--wh1);
    font-weight: 500;
    border-color: var(--or);
    box-shadow: 0 1px 3px var(--or);
    transition: transform .1s ease-in-out;
}

.btn-brand:hover {
    background-color: var(--or);
    border-color: var(--or2);
    color: var(--wh1);
    box-shadow: 0 10px 40px var(--or2);
    border-radius: 5px;
    transform: scale(1.1);
}

.bg-cover {
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover !important;
}

.title-hero {
    padding: 1.5rem 0 1.5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    margin-top: 32rem;
}

.nav-item.active .nav-link {
    color: var(--or);
    /* Color de la pestaña activa */
    font-weight: bold;
    transform: scale(1.025);
}

.nav-item .nav-link {
    color: var(--wh1);
    ;
}

/*SliderHero*/

.logobanner1 {
    width: 86rem;
}

@media (max-width:1390px) {

    .logobanner1 {
        width: 76rem;
        transition: .3s;
    }
}

.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../src/assets/About/About.svg)
}

.slide-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../src/assets/Hero/banner.svg);

}

.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../src/assets/Hero/HeroBanner2.svg);
}

.logobanner2 {
    display: none;

}

/*Animacion al iniciar imagen de logobanner*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logobanner1,
.logobanner2 {
    animation-name: fadeIn;
    animation-duration: 3.5s;
    animation-fill-mode: both;


}

/* Asegúrate de que la animación se ejecute cada vez que el ítem del carrusel se vuelva activo */
.carousel-item.active .logobanner1,
.carousel-item.active .logobanner2 {
    animation-name: fadeIn;
}

@media (max-width:838px) {

    .logobanner1 {
        display: none;
    }

    .slide-1 {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../src/assets/Hero/banner.svg);
        background-position: center;
    }

    .slide-2 {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../src/assets/Hero/banner.svg);
        background-position: right;

    }

    .slide-3 {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../src/assets/Hero/banner.svg);
        background-position: left;
    }

    .logobanner2 {
        display: flex;
        align-items: center;
        justify-content: center;

    }



}

#heroSlider h6::after,
#heroSlider h6::before {
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--wh1);
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 70px;
    margin: auto;

}

.logobanner {
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;
}

/*about*/

#about p {
    text-align: justify;
}

#about .divider1 {
    width: 27px;
    height: 3px;
    display: inline-block;
    background-color: yellow;
}

#about .divider2 {
    width: 27px;
    height: 3px;
    display: block;
    background-color: blue;
}

#about .divider3 {
    width: 27px;
    height: 3px;
    display: block;
    background-color: red;
}


.social-links a {
    font-size: 24px;
    margin-right: 10px;
    transition: transform 0.25s ease-in-out;
}

.social-link:hover {
    transform: scale(1.5);
}



.img_about {
    transition: transform 0.3s ease-in-out;
    border: 0.5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(var(--angle), var(--or), var(--or2));
    animation: rotate 2s linear infinite;
    box-shadow: 0 2.5px 5px var(--or);
}

.img_about:hover {
    transform: scale(1.025);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.8);
}

.banner_about {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    margin: 2rem 0 0;
    animation: imgScale 3s infinite;
}

@media (max-width:768px) {
    .banner_about{
        animation: none;
    }
}

.banner_about:hover {
    box-shadow: 0 2.5px 5px var(--or);
    transform: scale(1.1);
}

/*Intro Text*/

.intro-text {
    margin-bottom: 40px;
    text-align: center;
}

.intro-text p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}

/*menu - productos*/

#menu .nav-pills .nav-link {
    background-color: var(--wh1);
    margin-left: 8px;
    margin-right: 8px;
    color: var(--bl1);
    border-radius: 100px;
}

#menu .nav-pills .nav-link.active {
    background-color: var(--or);
    color: var(--wh1);
    box-shadow: 0 2.5px 5px var(--or2);
}

.menu-item {
    transition: transform 0.15s ease-in-out;
    cursor: pointer;
    border: 0.5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(var(--angle), var(--or), var(--or2));
    animation: rotate 2s linear infinite;
}

.menu-item:hover {
    transform: scale(1.033);
}

.menu-item .stars {
    color: var(--star);

}

.menu-item .small {
    text-align: justify;
}

.tagprice {
    color: var(--or);
}

/*Features*/

#features {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../src/assets/Features/CUADRADO@0,5x.jpg);
}


.feature {
    transition: transform 0.25s ease;
    box-shadow: 0 2.5px 5px var(--or);
    border: 0.5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(var(--angle), var(--or), var(--or2));
    animation: rotate 2s linear infinite;
}

.feature:hover {
    transform: scale(1.025);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 5);
}

.feature h4 {
    font-size: 20px;
}

.feature .feature-icon {
    width: 80px;
    height: 80px;
    background-color: var(--or);
    color: var(--wh1);
    font-size: 28px;
    display: inline-grid;
    align-items: center;
    text-align: center;
}


/*reservation*/

#reservation .form-control {
    border-radius: 0;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(var(--angle), var(--or), var(--or2));
    animation: rotate 2s linear infinite;
}

#reservation .form-control:focus {
    box-shadow: 0 2.5px 5px var(--or);
    border: 3.5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(var(--angle), var(--or), var(--or2));
    animation: rotate 2s linear infinite;
}



#reservation input.form-control {
    height: 47px;
}

/*Instagram Posts*/

.insta-post {
    position: relative;
    overflow: hidden;
}

.insta-post .insta-btn {
    width: 90px;
    height: 90px;
    background-color: var(--wh1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 26px;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: btnFadeInOut 5s infinite;
    /* Agregar animación al botón */
    color: var(--or);

}

.insta-post img {
    transition: all 0.4s;
    animation: imgScale 5s infinite;
    /* Agregar animación a la imagen */
}

.insta-post:hover img {
    transform: scale(1.2);
    animation: none;
}

.insta-post:hover .insta-btn {
    opacity: 1;
}

/* Animación que alterna la escala de la imagen */
@keyframes imgScale {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.125);
    }
}

/* Animación que alterna la opacidad del botón */
@keyframes btnFadeInOut {

    10%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/*Blog Post*/

.blog-post {
    cursor: pointer;
    transition: transform 0.1s ease-in;
    border: 0.5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(var(--angle), var(--or), var(--or2));
    animation: rotate 2s linear infinite;
    box-shadow: 0 2.5px 5px var(--or);
}

.blog-img{
    width: 50%;
    object-fit: cover;
}
.blog-post-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    text-align: center;
}

.blog-post:hover {
    transform: scale(1.025);
    box-shadow: 0 2.5px 5px var(--or);
}

@media (max-width:850px) {

    .blog-post {
        flex-direction: column;
    }

    .blog-img {
        width: 100%;
    }
}

.imagen-bannerAbout {
    display: none;
}



/*footer*/

footer {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../src/assets/Hero/HeroBanner2.svg);
    padding-top: 80px;
    padding-bottom: 30px;
}

.footer-top {
    margin-bottom: 30px;
}

footer img {
    max-width: 550px;
}

footer p,
footer a {
    color: rgba(255, 255, 255, 0.75);

}

footer a {
    font-size: 24px;
    margin-right: 10px;
}

.footer-link2 {
    font-size: medium;
    display: flex;
    cursor: pointer;
}

.footer-link22 {
    font-size: medium;
    display: block;
    cursor: pointer;
}

footer .footer-link {
    font-size: 18px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}


/*SCROLLUP*/
.scrollup {
    position: fixed;
    right: 3rem;
    bottom: -20%;
    background-color: var(--or);
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    transition: .4s;
    color: var(--grisrgb);
}

.scrollup__icon {
    font-size: 1.5rem;
    color: var(--or);

}

.scrollup:hover {
    background-color: var(--or2);
    color: var(--wh1);
}


/*show scroll*/
.show-scroll {
    bottom: 8rem;
}

/*BREAK POINTS*/

/*For Large Devices*/

@media screen and (max-width: 992px) {
    .scrollup {
        right: 5rem;
        padding: 0.25rem 0.4rem;
    }

    .scrollup__icon {
        font-size: 1.25rem;
    }
}

/*For Medium DEvices*/

@media screen and (max-width: 686px) {

    .scrollup {
        right: 2rem;
    }

    .scrollup__icon {
        font-size: 1rem;

    }

    .imagen-bannerAbout {
        display: inline;
    }
}

/*For Small DEvices*/

@media screen and (max-width: 350px) {
    .scrollup {
        bottom: 6rem;
        margin-bottom: 0.5rem;
    }

}

/*Bordes Animados Generales*/

/* Define la propiedad personalizada para el ángulo del degradado */
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}


/* Define la animación para rotar el degradado */
@keyframes rotate {
    to {
        --angle: 360deg;
    }
}